html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  padding: 1rem;
}

h1:has(+ .subtitle) {
  margin-bottom: .5rem;
}

h1 + .subtitle {
  margin-top: 0;
  font-style: italic;
}

.center {
  text-align: center;
}

.bubble {
  background-color: #efefef;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.32);
  padding: 1rem;
}

.bubble:not(:last-child) {
  margin-bottom: 1rem;
}

.bubble h1 {
  margin: 0 0 .5rem 0;
  font-size: 1.5rem;
}

.container {
  max-width: 800px;
  margin: auto;
}

.title {
  border-bottom: 1px solid;
}

h3.title {
  margin: 0;
  display: inline-block;
}
