nav {
  background: #333333;
  color: white;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

li:hover > a {
  color: rgb(153, 153, 214);
  transform: translateY(-2px);
}

li > a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  font-size: inherit;
  transition: transform .2s;
  padding: .75rem;
}