a.resource {
  text-decoration: none;
  color: inherit;
  border-radius: .25rem;
  border: 1px solid black;
  padding: .25rem .5rem;
  display: inline-block;
}

a.resource:not(:last-child) {
  margin-bottom: .5rem;
}

a:hover {
  background-color: #efefef;
}